 /*Parametri base*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Background Pattern
    CodePen: https://codepen.io/ppuno/pen/GWVqxd
    (Adattato per il mio caso d'uso)
    */
    background: #F5FEFF;
    background-image: radial-gradient(#3b8ad0 5%, transparent 0);
    background-size: 30px 30px;
}

main{ 
    background: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main, main h1{
    background: none;
}

main h1{
    background: none;
    font-size: 80px;
    font-weight: 600;
    color: #000000;
}

.presentazione {
    background-color: #f99777;
    background-image: radial-gradient(#144c93 5%, transparent 0);
    background-size: 30px 30px;
    border-radius: 3rem;
    border: 0.15rem solid #000000;
    box-shadow: 0rem 0.5rem 0rem #000000;
    padding: 1.5rem;
    display: flex;
    gap: 1.25rem;
    margin-bottom: 2rem;
}

.presentazione-descrizione{
    background: #f9f7ff;
    border: #000000 solid;
    border-radius: 20px;
    padding: 10px;
}
.presentazione-descrizione h2{
    background: none;
    font-size: 30px;
    font-weight: 600;
}

.presentazione-descrizione p{
    padding-top: 20px;
    background: none;
    font-size: 19px;
    font-weight: 400;
}

figure{
    background: none;
}

.presentazione-img {
    background: none;
    border: #000000 solid;
    width: 250px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

p{
    background: none;
}

iframe{
    border-radius: 30px;
    border: #000000 solid;
    box-shadow: 10px 10px #000000;
    margin-bottom: 30px;
}

.pagina-corrente{
    background: #0acf8d;
}

.cv{
    background: none;
    font-size: 40px;
    font-weight: 600;
}

@media (max-width: 768px) {
    main h1{
        font-size: 60px;
        text-align: center;
    }

    .presentazione {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    iframe{
        height: 600px;
    }

    .social{
        height: 600px;
    }

    iframe{
        box-shadow: 2.5px 2.5px rgb(0, 0, 0);
    }

    .presentazione{
        box-shadow: 0px 2.5px rgb(0, 0, 0);
    }
}






