/*Gestione generale della pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    /*Background Pattern
    CodePen: https://codepen.io/tankred/pen/vELNNY
    Colori adattati basandomi sulla seguente pallet:
    https://coolors.co/eef0f6-e0e4f0-bfc7de-a0adcf-7f8fbe-606d8f-3f485f-2d3343-181c25)
    */
    background-color:#b4c1d7;
    background-image: linear-gradient(30deg, #a7b6d1 12%, transparent 12.5%, transparent 87%, #a7b6d1 87.5%, #a7b6d1),
    linear-gradient(150deg, #a7b6d1 12%, transparent 12.5%, transparent 87%, #a7b6d1 87.5%, #a7b6d1),
    linear-gradient(30deg, #a7b6d1 12%, transparent 12.5%, transparent 87%, #a7b6d1 87.5%, #a7b6d1),
    linear-gradient(150deg, #a7b6d1 12%, transparent 12.5%, transparent 87%, #a7b6d1 87.5%, #a7b6d1),
    linear-gradient(60deg, #d1d9e7 25%, transparent 25.5%, transparent 75%, #d1d9e7 75%, #d1d9e7), 
    linear-gradient(60deg, #d1d9e7 25%, transparent 25.5%, transparent 75%, #d1d9e7 75%, #d1d9e7);
    background-size: 40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

/*Gestione contenuto main e all'interno di main*/
main{ 
    background: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main, main h1{
    background: none;
}

main h1{
    background: none;
    font-size: 50px;
    font-weight: 600;
}

/*
Accessibilità:
Evidenziatore per la Navbar,
per far capire in quale parte del sito ci si trova
*/
.pagina-corrente, nav .pagina-corrente:hover, .pagina-corrente:active{
    background: #0acf8d;
    transform: none;
}

/*Contenuto in primo piano*/
/*Gestione della n*/
.contenuto-evidenza {
    background: #fb816f;
    background-image: radial-gradient(#fdfefd 5%, transparent 0);
    background-size: 30px 30px;

    border-radius: 45px;
    padding: 32px 28px;
    border: #000 solid;
    box-shadow: -8px 8px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 280px;
}

/*Gestione immagine*/
figure{
    background: none;
}

.contenuto-evidenza img{
    width: 100%;
    height: 540px;
    border: #000 solid;
    border-radius: 30px;
    object-fit: cover;
}

/*Gestione scritture al'interno di .contenuto-evidenza*/
.contenuto-evidenza h1{
    background: none;
    font-size: 60px;
    font-weight: 700;
}

.contenuto-evidenza h2{
    background: none;
    font-size: 30px;
    font-weight: 500;
}

/*Gestione bottone all'interno di .contenuto-evidenza*/
.contenuto-evidenza button{
    background: #f3c867;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    align-self: flex-end;
    cursor: pointer;
    box-shadow: 0 10px #f4ac45;
}

.contenuto-evidenza button:hover{
    background: #fed85d;
}

.contenuto-evidenza button:active{
    background: #a7b6d1;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
.contenuto-evidenza button h3{
    background: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
}

/*Contenuti in secondo piano*/
/**/

.contenuto-secondario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: stretch;
}

/**/
.contenuto-sinistra {
    background: #d1c7fd;
    background-image: radial-gradient(rgb(0, 0, 0) 5%, transparent 0);
    background-size: 30px 30px;


    border-radius: 28px;
    padding: 24px;
    color: rgb(0, 0, 0);
    border: #000 solid;
    box-shadow: -10px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    height: 100%;
}

.contenuto-destra {
    background: #fddfc7;
    background-image: radial-gradient(rgb(0, 0, 0) 5%, transparent 0);
    background-size: 30px 30px;

    
    border-radius: 28px;
    padding: 24px;
    color: rgb(0, 0, 0);
    border: #000000 solid;
    box-shadow: 10px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    height: 100%;
}

.contenuto-sinistra img, .contenuto-destra img{
    width: 100%;
    height: 350px;
    border-radius: 16px;
    object-fit: cover;
    border: #000000 solid;
}

.contenuto-sinistra h3, .contenuto-destra h3{
    background: none;
    font-size: 18px;
    font-weight: 700;
}

.contenuto-sinistra p, .contenuto-destra p{
    background: none;
    font-size: 12px;
    line-height: 1.5;
}

.contenuto-sinistra button, .contenuto-destra button{
    background: #34C759;
    color: white;
    border: none;
    padding: 20px 100px;
    border-radius: 24px;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    box-shadow: 0px 12px rgb(0, 110, 27);
}

.contenuto-sinistra button:hover, .contenuto-destra button:hover{
    background: #fed85d;
}
















/*Mobile*/

@media (max-width: 1000px){
    header{
        box-shadow: 0px 5px rgb(0, 0, 0);
    }
    .contenuto-secondario {
        grid-template-columns: 1fr;
    }
    .contenuto-evidenza{
        box-shadow: 0px 5px rgb(0, 0, 0);
    }
    .contenuto-sinistra{
        box-shadow: 3px 3px rgb(0, 0, 0);
    }
    .contenuto-destra{
        box-shadow: -3px 3px rgb(0, 0, 0);
    }
}