/*
I file CSS sono stati divisi in:
"style_basse.css", che contiene tutti i parametri base
indipendentmente dalla pagina in questione

"style_lavori", che contiene i
divisione dei file CSS è stata fatta per semplificazione,
per evitare 
*/


/*I font sono stati scaricati da Google Font.
Ho preferito evitare richiami esterni oltre a quegli necessari (come quegli
di Instagram) per rendere la pagina piu leggera, ma sorpatutto,
non dipendendo da una fonte esterna.
quindi, ho inserito i font in locale
(IMMAGINE N.)
*/

@font-face {
  font-family: "Inclusive Sans";
  src: url("../Font/InclusiveSans[wght].woff2") format("woff2");
  font-weight: 300 700; /* range pesi Light → Bold */
  font-style: normal;
  font-display: swap; /* migliora caricamento */
}

/* Variable Italic */
@font-face {
  font-family: "Inclusive Sans";
  src: url("../Font/InclusiveSans-Italic[wght].woff2") format("woff2");
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}
* {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
}
/*Body*/

body {
    background: none;
    /*Come specificato nelle case historie,
    voglio che il contenuto si trovi subito al centro e niente ai bordi.
    Codice preso da:
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/padding
    */
    padding-right: 15%; 
    padding-left: 15%;
}

/*NavBar
Codice misto e rialborato preso da:
CodePen
Mozilla Dev:
*/
header {
    background: white;
    padding: 0.25rem;
    border-radius: 6rem;
    border: 0.15rem solid #000000;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    box-shadow: 0rem 0.5rem 0rem #000000;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background: none;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul{
    background: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
nav li{
    background: none;
    position: relative;
    height: 5rem;
    z-index: 1;
    list-style-type: none;
    list-style: none;
    margin: 0;  
    padding: 0;  
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li a{
    background: none;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
nav span{
    background: none;
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
    border-radius: 6rem;
    transition: all 0.3s ease;
    white-space: nowrap;
}
nav span:hover{
    background: none;
    color: #1a1a1a;
    background: #fed85d;
    border: #000000;
}
/*
Accessibilità:
terzo colore per la Navbar,
per far capire che si ha cliccato al contenuto selezionato
*/
nav span:active{
    background: #e86d6d;
    transform: translateY(4px);
}

/*Il layout mi è stato suggerito da Perpelxity, una IA, ma dal momento che
aveva organizzato tutto in maniera strana, ho dovuto riadattare il codice al mio caso
a mano.
L'IA l'ho dovuta utilizzare perche il piano per di figma è a pagamento.
*/

/*Sessione social*/



/*Footer*/
footer {
    background: white;
    padding: 24px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #2d2d2d;
    margin-top: 30px;
    border: solid #000000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    width: 100%;
    bottom: 0px;
    z-index: 0;
/*

    
  height: 100px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
*/

}

footer h1{
    font-family: 'SourceCodePro-Regular';
}
footer p{
    font-family: 'SourceCodePro-Light';
}






footer h1{
    background: none;
}
footer h2{
    background: none;
}
footer h3{
    background: none;
}


footer p{
    background: none;
    
}


/*Adattamento mobile*/
@media (max-width: 600px){
    
    /*Body*/
    body{
        padding-right: 2.5%; 
        padding-left: 2.5%;
    }

    /*NavBar*/
    header{
        font-size: 18px;
    }
    nav ul{
        gap: 0.5rem;
    }
    nav span{
        padding: 0.5rem 0.75rem;
        font-size: 20px;
    }
}


@media (min-width: 2000px){
    
    /*Body*/
    body{
        padding-right: 30%; 
        padding-left: 30%;
    }

    /*NavBar*/
    header{
        font-size: 18px;
    }
    nav ul{
        gap: 0.5rem;
    }
    nav span{
        padding: 0.5rem 0.75rem;
        font-size: 20px;
    }
}