* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Background Pattern
    CodePen: https://codepen.io/ppuno/pen/GWVqxd
    (Adattato per il mio caso d'uso)
    */
    background: #b9dfd7;
    background-image: radial-gradient(#1e6675 5%, transparent 0);
    background-size: 30px 30px;
}

.pagina-corrente{
    background: #F3A365;
}

figure {
    text-align: center;
}

.img-intro {
    height: auto;
    width: 100%;
    border-radius: 70px;
    border: 0.15rem solid #000000;
    box-shadow: -6px 6px rgb(0, 0, 0);
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    display: inline-block; /* necessario per text-align */
}

.titolo{
background: #fbe79d;
    background-image: radial-gradient(#f3ad87 5%, transparent 0);
    background-size: 30px 30px;
  padding: 24px;
    border-radius: 30px;
    border: 0.15rem solid #000000;
    margin: -60px 20px 40px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #1a1a1a;
    box-shadow: 10px 10px rgb(0, 0, 0);
    position: relative;
    z-index: 3;
}

img{
  background: none;
}

figure, figcaption{
  background: none;
}
.titolo h1{
  background: none;
  font-size: 60px;
  font-weight: 600;
}
article{
  background: none;
    background-color: #f9fbf9;
    padding: 50px 40px 40px 40px;
    border: #000000 solid;
    border-radius: 20px;
    box-shadow: -10px 10px rgb(0, 0, 0);
    position: relative;
    z-index: 2;
    margin-top: -40px;
    margin-bottom: 30px;
}

article p{
  background: none;
  font-size: 20px;
  line-height: 1.8;
  color: #000000;
  margin-bottom: 30px;
  text-align: justify;
  padding-top: 5px;
}

.img-article{
  width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

video{
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.social-section {
    background: #fcd5ce;
    background-image: radial-gradient(#ffa69e 5%, transparent 0);
    background-size: 30px 30px;
}
@media (max-width: 600px){
  .img-intro{
    border-radius: 35px;
  }

  body{
        padding-right: 3%; 
        padding-left: 3%;
    }

  .titolo{
    margin: -30px 20px 40px 20px;
    box-shadow: 5px 5px rgb(0, 0, 0);
  }

  article p{
    font-size: 16px;
  }

  .img-intro{
    box-shadow: -3px 3px rgb(0, 0, 0);
  }
  .titolo h1{
  background: none;
  font-size: 40px;
  font-weight: 600;
  }

  article{
    box-shadow: -5px 5px rgb(0, 0, 0);
  }
}


figure{
  margin-bottom: 30px
}

figcaption{
  text-align: left;
  margin-top: 20px;
}

b{
  background: none;
  font-weight: 600;
}



figure .img-article{
  margin-bottom: auto;
}

h2{
  text-align: left;
  background: none;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px
}


figure h3{
  text-align: center;
  background: none;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px

}
