 /*Parametri base*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Background Pattern
    CodePen: https://codepen.io/ppuno/pen/GWVqxd
    (Adattato per il mio caso d'uso)
    */
    background: #fceedb;
    background-image: radial-gradient(#f7987e 5%, transparent 0);
    background-size: 30px 30px;
}

main{ 
    background: none;
    position: relative;
    flex: 1;
}

main, main h1{
    background: none;
}

main h1{
    background: none;
    font-size: 80px;
    font-weight: 600;
    color: #000000;
}

/*
Accessibilità:
Evidenziatore per la Navbar,
per far capire in quale parte del sito ci si trova
*/
.pagina-corrente, nav .pagina-corrente:hover, .pagina-corrente:active{
    background: #0acf8d;
    transform: none;
}

/*Struttura deell'elenco dei lavori da mostra*/
.creazioni-elenco {
    padding-top: 50px;
    background: none;

    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

/*Codice fornitomi da Perplexity, per fare in modo che ci sia una viariazione
nella visualizzazione dei singoli progetti ad ogni tot progetti, da sinistra a destra*/
.creazioni-elenco:nth-of-type(even) {
    flex-direction: row-reverse;
}

/*Struttura del contenuto delle singole schede di ogni progetto*/
.creazioni-elenco article {
    background: #f7fffd;
    background-image: radial-gradient(#c3bef7 5%, transparent 0);
    background-size: 30px 30px;
    border: #000 solid;
    color: #000000;
    box-shadow: 0px 8px rgb(0, 0, 0);
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
    flex: 1;
    text-align: center;
}

.creazioni-elenco h2 {
    background: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.creazioni-elenco h3 {
    background: none;
    font-size: 1.65rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.creazioni-elenco p {
    background: none;
    font-size: 1.25rem;
    margin-bottom: 50px;
    font-weight: 400;
}

.creazioni-elenco img {
    background: none;
    width: 300px;
    height: 300px;
    border-radius: 2.5rem;
    object-fit: cover;
    border: #000000 solid;
}


/*bottone:
non è stato utilizzato il tag "bottone" perché non risulta adatto 
per l'accessibilità, quindi, era meglio trasformare il tag <a>
*/

.creazioni-elenco a{
    background: #c7efcf;
    border: none;
    padding: 20px 150px;
    border-radius: 100px;
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
    box-shadow: 0 12px #60ab9a;

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
}

.creazioni-elenco a:hover{
    background: #fffbb9;
}


.creazioni-elenco a:active{
    background: #fde36d;
    box-shadow: 0 2px #d1c700;
    transform: translateY(4px);
}

#prossimamente{
    background: #bfc4c7;
    border: none;
    padding: 20px 150px;
    border-radius: 100px;
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
    /*box-shadow: 0 12px #666666;*/

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
}
/*
#prossimamente:hover{
    background: #bfc4c7;
}

#prossimamente:active{
    background: #bfc4c7;
    box-shadow: 0 2px #666666;
    transform: translateY(4px);
}
*/
/**/
@media (max-width: 1100px) {
    main h1 {
        font-size: 60px;
        text-align: center;
    }

    header{
        box-shadow: 0px 3px rgb(0, 0, 0);
    }

    .creazioni-elenco {
        flex-direction: column !important;
        text-align: center;
    }

    .creazioni-elenco img {
        width: 350px;
        height: 350px;
    }


    .creazioni-elenco a{
        padding: 20px 100px;
    }
    
    #prossimamente{
        padding: 20px 20px;
    }
}