figure {
    text-align: center;
}

.img-intro {
    height: auto;
    width: 100%;
    border-radius: 70px;
    border: 0.15rem solid #000000;
    box-shadow: -6px 6px rgb(0, 0, 0);
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    display: inline-block; /* necessario per text-align */
}

.titolo{
    background-color: #ffffff;
    padding: 24px;
    border-radius: 30px;
    border: 0.15rem solid #000000;
    margin: -60px 20px 40px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #1a1a1a;
    box-shadow: 10px 10px rgb(0, 0, 0);
    position: relative;
    z-index: 3;
}

article{
    background-color: #f5e6d3;
            padding: 50px 40px 40px 40px;
            border: #000000 solid;
            border-radius: 20px;
            box-shadow: -6px 6px rgb(0, 0, 0);
            position: relative;
            z-index: 2;
            margin-top: -40px;
}

article p{
    font-size: 14px;
            line-height: 1.8;
            color: #4a4a4a;
            margin-bottom: 30px;
            text-align: justify;
}


.img-article{
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}